@import "tailwindcss";

@theme {
  --color-apple-dark: #1D1D1F;
  --color-apple-gray: #86868b;
  --color-apple-blue: #0071e3;
  
  --font-sans: var(--font-inter);

  --background-image-mesh-gradient: radial-gradient(at 0% 0%, hsla(210,100%,96%,0) 0, transparent 50%), radial-gradient(at 50% 0%, #F0F8FF 0, transparent 50%), radial-gradient(at 100% 0%, #E0F2FE 0, transparent 50%);
}

@utility bg-mesh-gradient {
  background-image: var(--background-image-mesh-gradient);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  overflow-y: scroll;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}
